<div id="sidebar" role="complementary" aria-label="sidebar">
<div class="s-sidebarwidget s-sidebarwidget__yellow s-anchors s-anchors__grayscale mb16" data-tracker="cb=1">
    <ul class="d-block p0 m0">
                    <div class="s-sidebarwidget--header s-sidebarwidget__small-bold-text fc-light d:fc-black-900 bb bbw1">
                        The Overflow Blog
                    </div>
        <li class="s-sidebarwidget--item grid px16">
            <div class="grid--cell1 fl-shrink0">
<svg aria-hidden="true" class="va-text-top svg-icon iconPencilSm" width="14" height="14" viewBox="0 0 14 14"><path d="m11.1 1.71 1.13 1.12c.2.2.2.51 0 .71L11.1 4.7 9.21 2.86l1.17-1.15c.2-.2.51-.2.71 0zM2 10.12l6.37-6.43 1.88 1.88L3.88 12H2v-1.88z"/></svg>            </div>
            <div class="grid--cell wmn0 ow-break-word">
                <a href="https://stackoverflow.blog/2021/06/09/using-low-code-tools-to-iterate-products-faster/" class="js-gps-track" data-ga="[&quot;community bulletin board&quot;,&quot;The Overflow Blog&quot;,&quot;https://stackoverflow.blog/2021/06/09/using-low-code-tools-to-iterate-products-faster/&quot;,null,null]" data-gps-track="communitybulletin.click({ priority: 1, position: 0 })">Using low-code tools to iterate products faster</a>
            </div>
        </li>
        <li class="s-sidebarwidget--item grid px16">
            <div class="grid--cell1 fl-shrink0">
<svg aria-hidden="true" class="va-text-top svg-icon iconPencilSm" width="14" height="14" viewBox="0 0 14 14"><path d="m11.1 1.71 1.13 1.12c.2.2.2.51 0 .71L11.1 4.7 9.21 2.86l1.17-1.15c.2-.2.51-.2.71 0zM2 10.12l6.37-6.43 1.88 1.88L3.88 12H2v-1.88z"/></svg>            </div>
            <div class="grid--cell wmn0 ow-break-word">
                <a href="https://stackoverflow.blog/2021/06/08/podcast-345-a-good-software-tutorial-explains-the-how-a-great-one-explains-the-why/" class="js-gps-track" title="Podcast 345: A good software tutorial explains the How. A great one explains the Why." data-ga="[&quot;community bulletin board&quot;,&quot;The Overflow Blog&quot;,&quot;https://stackoverflow.blog/2021/06/08/podcast-345-a-good-software-tutorial-explains-the-how-a-great-one-explains-the-why/&quot;,null,null]" data-gps-track="communitybulletin.click({ priority: 1, position: 1 })">Podcast 345: A good software tutorial explains the How. A great one explains&hellip;</a>
            </div>
        </li>
                    <div class="s-sidebarwidget--header s-sidebarwidget__small-bold-text fc-light d:fc-black-900 bb bbw1">
                        Featured on Meta
                    </div>
        <li class="s-sidebarwidget--item grid px16">
            <div class="grid--cell1 fl-shrink0">
<div class="favicon favicon-stackoverflowmeta" title="Meta Stack Overflow"></div>            </div>
            <div class="grid--cell wmn0 ow-break-word">
                <a href="https://meta.stackoverflow.com/questions/407914/take-the-2021-developer-survey" class="js-gps-track" data-ga="[&quot;community bulletin board&quot;,&quot;Featured on Meta&quot;,&quot;https://meta.stackoverflow.com/questions/407914/take-the-2021-developer-survey&quot;,null,null]" data-gps-track="communitybulletin.click({ priority: 6, position: 2 })">Take the 2021 Developer Survey</a>
            </div>
        </li>
    </ul>
</div>


<div class="module js-gps-related-tags" id="related-tags">
    <h4 id="h-related-tags">Related Tags</h4>
<div data-name="javascript">
<a href="/questions/tagged/javascript" class="post-tag no-tag-menu" title="show questions tagged &#39;javascript&#39;" rel="tag">javascript</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count">2229902</span> </span>
</div>
<div data-name="java">
<a href="/questions/tagged/java" class="post-tag no-tag-menu" title="show questions tagged &#39;java&#39;" rel="tag">java</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count">1782498</span> </span>
</div>
<div data-name="python">
<a href="/questions/tagged/python" class="post-tag no-tag-menu" title="show questions tagged &#39;python&#39;" rel="tag">python</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count">1739217</span> </span>
</div>
<div data-name="c#">
<a href="/questions/tagged/c%23" class="post-tag no-tag-menu" title="show questions tagged &#39;c#&#39;" rel="tag">c#</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count">1483566</span> </span>
</div>
<div data-name="php">
<a href="/questions/tagged/php" class="post-tag no-tag-menu" title="show questions tagged &#39;php&#39;" rel="tag">php</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count">1406121</span> </span>
</div>
<div data-name="android">
<a href="/questions/tagged/android" class="post-tag no-tag-menu" title="show questions tagged &#39;android&#39;" rel="tag">android</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count">1340121</span> </span>
</div>
<div data-name="html">
<a href="/questions/tagged/html" class="post-tag no-tag-menu" title="show questions tagged &#39;html&#39;" rel="tag">html</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count">1078162</span> </span>
</div>
<div data-name="jquery">
<a href="/questions/tagged/jquery" class="post-tag no-tag-menu" title="show questions tagged &#39;jquery&#39;" rel="tag">jquery</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count">1017020</span> </span>
</div>
<div data-name="c&#x2B;&#x2B;">
<a href="/questions/tagged/c%2b%2b" class="post-tag no-tag-menu" title="show questions tagged &#39;c++&#39;" rel="tag">c++</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count">727841</span> </span>
</div>
<div data-name="css">
<a href="/questions/tagged/css" class="post-tag no-tag-menu" title="show questions tagged &#39;css&#39;" rel="tag">css</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count">721454</span> </span>
</div>
<div class="dno js-hidden" data-name="ios">
<a href="/questions/tagged/ios" class="post-tag no-tag-menu" title="show questions tagged &#39;ios&#39;" rel="tag">ios</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count">657141</span> </span>
</div>
<div class="dno js-hidden" data-name="mysql">
<a href="/questions/tagged/mysql" class="post-tag no-tag-menu" title="show questions tagged &#39;mysql&#39;" rel="tag">mysql</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count">628337</span> </span>
</div>
<div class="dno js-hidden" data-name="sql">
<a href="/questions/tagged/sql" class="post-tag no-tag-menu" title="show questions tagged &#39;sql&#39;" rel="tag">sql</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count">593596</span> </span>
</div>
<div class="dno js-hidden" data-name="r">
<a href="/questions/tagged/r" class="post-tag no-tag-menu" title="show questions tagged &#39;r&#39;" rel="tag">r</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count">406763</span> </span>
</div>
<div class="dno js-hidden" data-name="node.js">
<a href="/questions/tagged/node.js" class="post-tag no-tag-menu" title="show questions tagged &#39;node.js&#39;" rel="tag">node.js</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count">390918</span> </span>
</div>
<div class="dno js-hidden" data-name="arrays">
<a href="/questions/tagged/arrays" class="post-tag no-tag-menu" title="show questions tagged &#39;arrays&#39;" rel="tag">arrays</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count">369553</span> </span>
</div>
<div class="dno js-hidden" data-name="asp.net">
<a href="/questions/tagged/asp.net" class="post-tag no-tag-menu" title="show questions tagged &#39;asp.net&#39;" rel="tag">asp.net</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count">363268</span> </span>
</div>
<div class="dno js-hidden" data-name="c">
<a href="/questions/tagged/c" class="post-tag no-tag-menu" title="show questions tagged &#39;c&#39;" rel="tag">c</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count">360146</span> </span>
</div>
<div class="dno js-hidden" data-name="ruby-on-rails">
<a href="/questions/tagged/ruby-on-rails" class="post-tag no-tag-menu" title="show questions tagged &#39;ruby-on-rails&#39;" rel="tag">ruby-on-rails</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count">326571</span> </span>
</div>
<div class="dno js-hidden" data-name="json">
<a href="/questions/tagged/json" class="post-tag no-tag-menu" title="show questions tagged &#39;json&#39;" rel="tag">json</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count">320886</span> </span>
</div>
<div class="dno js-hidden" data-name="reactjs">
<a href="/questions/tagged/reactjs" class="post-tag no-tag-menu" title="show questions tagged &#39;reactjs&#39;" rel="tag">reactjs</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count">312804</span> </span>
</div>
<div class="dno js-hidden" data-name=".net">
<a href="/questions/tagged/.net" class="post-tag no-tag-menu" title="show questions tagged &#39;.net&#39;" rel="tag">.net</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count">308684</span> </span>
</div>
<div class="dno js-hidden" data-name="sql-server">
<a href="/questions/tagged/sql-server" class="post-tag no-tag-menu" title="show questions tagged &#39;sql-server&#39;" rel="tag">sql-server</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count">305134</span> </span>
</div>
<div class="dno js-hidden" data-name="swift">
<a href="/questions/tagged/swift" class="post-tag no-tag-menu" title="show questions tagged &#39;swift&#39;" rel="tag">swift</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count">297308</span> </span>
</div>
<div class="dno js-hidden" data-name="objective-c">
<a href="/questions/tagged/objective-c" class="post-tag no-tag-menu" title="show questions tagged &#39;objective-c&#39;" rel="tag">objective-c</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">&times;</span>&nbsp;<span class="item-multiplier-count">291752</span> </span>
</div>
<a href="#"
class="show-more js-show-more js-gps-track"
data-gps-track="related_tags.click({ item_type:2 })">
more related tags
</a>
<script>
StackExchange.ready(function () {
var $div = $('#h-related-tags').parent();
$div.find('.js-show-more').click(function () {
    $div.find('.js-hidden').show();
    $(this).remove();
    return false;
});
});
</script>

</div>


</div>

<div id="hot-network-questions" class="module tex2jax_ignore">
<h4>
<a href="https://stackexchange.com/questions?tab=hot"
   class="js-gps-track s-link s-link__inherit" 
   data-gps-track="posts_hot_network.click({ item_type:1, location:9 })">
    Hot Network Questions
</a>
</h4>
<ul>
    <li >
        <div class="favicon favicon-crypto" title="Cryptography Stack Exchange"></div><a href="https://crypto.stackexchange.com/questions/91489/what-does-existential-unforgeability-mean-in-a-digital-signature-scheme" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:9, target_site:281 }); posts_hot_network.click({ item_type:2, location:9 })">
            What does existential unforgeability mean in a digital signature scheme?
        </a>

    </li>
    <li >
        <div class="favicon favicon-astronomy" title="Astronomy Stack Exchange"></div><a href="https://astronomy.stackexchange.com/questions/44270/is-it-suspicious-that-gravitational-waves-propagate-at-the-speed-of-light" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:9, target_site:514 }); posts_hot_network.click({ item_type:2, location:9 })">
            Is it suspicious that gravitational waves propagate at the speed of light?
        </a>

    </li>
    <li >
        <div class="favicon favicon-christianity" title="Christianity Stack Exchange"></div><a href="https://christianity.stackexchange.com/questions/83572/how-are-intersex-people-explained-by-christianity" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:9, target_site:304 }); posts_hot_network.click({ item_type:2, location:9 })">
            How are intersex people explained by Christianity?
        </a>

    </li>
    <li >
        <div class="favicon favicon-workplace" title="The Workplace Stack Exchange"></div><a href="https://workplace.stackexchange.com/questions/173387/dealing-with-extremely-inexperienced-developers-who-have-daily-deadlines" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:9, target_site:423 }); posts_hot_network.click({ item_type:2, location:9 })">
            Dealing with extremely inexperienced developers who have daily deadlines?
        </a>

    </li>
    <li >
        <div class="favicon favicon-electronics" title="Electrical Engineering Stack Exchange"></div><a href="https://electronics.stackexchange.com/questions/570426/why-put-a-resistor-in-series-with-the-postive-terminal-in-a-non-inverting-op-amp" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:9, target_site:135 }); posts_hot_network.click({ item_type:2, location:9 })">
            Why put a resistor in series with the postive terminal in a non inverting op-amp circuit?
        </a>

    </li>
    <li >
        <div class="favicon favicon-electronics" title="Electrical Engineering Stack Exchange"></div><a href="https://electronics.stackexchange.com/questions/570389/why-do-cmos-not-gate-designs-differ-from-bjt-not-gate-designs" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:9, target_site:135 }); posts_hot_network.click({ item_type:2, location:9 })">
            Why do CMOS NOT gate designs differ from BJT NOT gate designs?
        </a>

    </li>
    <li >
        <div class="favicon favicon-academia" title="Academia Stack Exchange"></div><a href="https://academia.stackexchange.com/questions/169812/sharing-a-research-proposal-when-applying-for-funds" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:9, target_site:415 }); posts_hot_network.click({ item_type:2, location:9 })">
            Sharing a research proposal when applying for funds
        </a>

    </li>
    <li >
        <div class="favicon favicon-chess" title="Chess Stack Exchange"></div><a href="https://chess.stackexchange.com/questions/35295/how-does-black-proceed-in-the-following-position" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:9, target_site:435 }); posts_hot_network.click({ item_type:2, location:9 })">
            How does black proceed in the following position?
        </a>

    </li>
    <li >
        <div class="favicon favicon-codegolf" title="Code Golf Stack Exchange"></div><a href="https://codegolf.stackexchange.com/questions/229375/decode-usb-packets" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:9, target_site:200 }); posts_hot_network.click({ item_type:2, location:9 })">
            Decode USB packets
        </a>

    </li>
    <li >
        <div class="favicon favicon-rpg" title="Role-playing Games Stack Exchange"></div><a href="https://rpg.stackexchange.com/questions/188029/can-a-rogue-find-an-undetectable-trap" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:9, target_site:122 }); posts_hot_network.click({ item_type:2, location:9 })">
            Can a Rogue find an undetectable Trap?
        </a>

    </li>
    <li >
        <div class="favicon favicon-diy" title="Home Improvement Stack Exchange"></div><a href="https://diy.stackexchange.com/questions/226938/do-afci-and-gfci-protect-against-cheap-equipment-and-bad-wiring" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:9, target_site:73 }); posts_hot_network.click({ item_type:2, location:9 })">
            Do AFCI and GFCI protect against cheap equipment and bad wiring?
        </a>

    </li>
    <li >
        <div class="favicon favicon-gis" title="Geographic Information Systems Stack Exchange"></div><a href="https://gis.stackexchange.com/questions/401135/qgis-grouping-by-attributes" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:9, target_site:79 }); posts_hot_network.click({ item_type:2, location:9 })">
            QGIS grouping by attributes
        </a>

    </li>
    <li class="dno js-hidden">
        <div class="favicon favicon-rpg" title="Role-playing Games Stack Exchange"></div><a href="https://rpg.stackexchange.com/questions/187999/how-can-i-limit-but-not-outright-ban-exotic-races" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:9, target_site:122 }); posts_hot_network.click({ item_type:2, location:9 })">
            How can I limit (but not outright ban) exotic races?
        </a>

    </li>
    <li class="dno js-hidden">
        <div class="favicon favicon-physics" title="Physics Stack Exchange"></div><a href="https://physics.stackexchange.com/questions/644270/why-was-the-neutrino-thought-to-be-massless" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:9, target_site:151 }); posts_hot_network.click({ item_type:2, location:9 })">
            Why was the neutrino thought to be massless?
        </a>

    </li>
    <li class="dno js-hidden">
        <div class="favicon favicon-diy" title="Home Improvement Stack Exchange"></div><a href="https://diy.stackexchange.com/questions/226904/mansfield-40-toilet-flush-levers-keep-breaking" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:9, target_site:73 }); posts_hot_network.click({ item_type:2, location:9 })">
            Mansfield 40 toilet flush levers keep breaking
        </a>

    </li>
    <li class="dno js-hidden">
        <div class="favicon favicon-codegolf" title="Code Golf Stack Exchange"></div><a href="https://codegolf.stackexchange.com/questions/229399/remove-all-smalltalk-comments-for-code-golf" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:9, target_site:200 }); posts_hot_network.click({ item_type:2, location:9 })">
            Remove All Smalltalk Comments for Code Golf
        </a>

    </li>
    <li class="dno js-hidden">
        <div class="favicon favicon-android" title="Android Enthusiasts Stack Exchange"></div><a href="https://android.stackexchange.com/questions/238663/close-current-tab-on-chrome-for-android-without-showing-all-tabs-first" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:9, target_site:139 }); posts_hot_network.click({ item_type:2, location:9 })">
            Close current tab on Chrome for Android without showing all tabs first
        </a>

    </li>
    <li class="dno js-hidden">
        <div class="favicon favicon-academia" title="Academia Stack Exchange"></div><a href="https://academia.stackexchange.com/questions/169820/can-i-copy-a-lemma-one-to-one-from-another-paper" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:9, target_site:415 }); posts_hot_network.click({ item_type:2, location:9 })">
            Can I copy a Lemma one-to-one from another paper?
        </a>

    </li>
    <li class="dno js-hidden">
        <div class="favicon favicon-aviation" title="Aviation Stack Exchange"></div><a href="https://aviation.stackexchange.com/questions/87609/what-is-the-difference-between-equilibrium-and-steady-flight" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:9, target_site:528 }); posts_hot_network.click({ item_type:2, location:9 })">
            What is the difference between equilibrium and steady flight?
        </a>

    </li>
    <li class="dno js-hidden">
        <div class="favicon favicon-ell" title="English Language Learners Stack Exchange"></div><a href="https://ell.stackexchange.com/questions/288531/she-need-not-worry-or-she-needs-to-not-worry" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:9, target_site:481 }); posts_hot_network.click({ item_type:2, location:9 })">
            &quot;She need not worry&quot; or &quot;she needs to not worry&quot;?
        </a>

    </li>
    <li class="dno js-hidden">
        <div class="favicon favicon-worldbuilding" title="Worldbuilding Stack Exchange"></div><a href="https://worldbuilding.stackexchange.com/questions/205221/why-would-they-use-human-soldiers-over-undead-ones" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:9, target_site:579 }); posts_hot_network.click({ item_type:2, location:9 })">
            Why would they use human soldiers over undead ones?
        </a>

    </li>
    <li class="dno js-hidden">
        <div class="favicon favicon-electronics" title="Electrical Engineering Stack Exchange"></div><a href="https://electronics.stackexchange.com/questions/570402/why-are-high-power-leds-categorized-by-wattage-not-voltage-amperage" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:9, target_site:135 }); posts_hot_network.click({ item_type:2, location:9 })">
            Why are high power LEDs categorized by wattage, not voltage &amp; amperage?
        </a>

    </li>
    <li class="dno js-hidden">
        <div class="favicon favicon-matheducators" title="Mathematics Educators Stack Exchange"></div><a href="https://matheducators.stackexchange.com/questions/21010/why-can-an-easily-graphable-definite-integral-be-labyrinthine-to-evaluate" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:9, target_site:548 }); posts_hot_network.click({ item_type:2, location:9 })">
            Why can an easily graphable definite integral, be labyrinthine to evaluate?
        </a>

    </li>
    <li class="dno js-hidden">
        <div class="favicon favicon-politics" title="Politics Stack Exchange"></div><a href="https://politics.stackexchange.com/questions/65602/what-can-us-senators-do-against-diversity-trainings-in-the-us-army" class="js-gps-track question-hyperlink mb0" data-gps-track="site.switch({ item_type:9, target_site:475 }); posts_hot_network.click({ item_type:2, location:9 })">
            What can US senators do against diversity trainings in the US Army?
        </a>

    </li>
</ul>

<a href="#" 
   class="show-more js-show-more js-gps-track" 
   data-gps-track="posts_hot_network.click({ item_type:3, location:9 })">
    more hot questions
</a>
</div>
