<header class="top-bar js-top-bar top-bar__network">
    <div class="wmx12 mx-auto grid ai-center h100" role="menubar">
        <div class="-main grid--cell">
<!--
            <a href="#" class="left-sidebar-toggle p0 ai-center jc-center js-left-sidebar-toggle" role="menuitem"
               aria-haspopup="true" aria-controls="left-sidebar" aria-expanded="false"><span class="ps-relative"></span></a>
            -->
            
               <div class="topbar-dialog leftnav-dialog js-leftnav-dialog dno">
                <div class="left-sidebar js-unpinned-left-sidebar" data-can-be="left-sidebar"
                     data-is-here-when="sm"></div>
            </div>
            <a href="/" class="-logo js-gps-track"
               >
                <span class="-img _glyph">Stack Overflow</span>
            </a>


        </div>

        <ol class="list-reset grid gs4" role="presentation">

            <li class="grid--cell md:d-none">
                <a href="/company" class="-marketing-link js-gps-track"
                   data-gps-track="top_nav.products.click({location:24, destination:7})"
                   data-ga="[&quot;top navigation&quot;,&quot;about menu click&quot;,null,null,null]">About</a>
            </li>

            <li class="grid--cell">
                <a href="#"
                   class="-marketing-link js-gps-track js-products-menu"
                   aria-controls="products-popover"
                   data-controller="s-popover"
                   data-action="s-popover#toggle"
                   data-s-popover-placement="bottom"
                   data-s-popover-toggle-class="is-selected"
                   data-gps-track="top_nav.products.click({location:24, destination:1})"
                   data-ga="[&quot;top navigation&quot;,&quot;products menu click&quot;,null,null,null]">
                    Products
                </a>
            </li>

            <li class="grid--cell md:d-none">
                <a href="/teams" class="-marketing-link js-gps-track"
                   data-gps-track="top_nav.products.click({location:24, destination:7})"
                   data-ga="[&quot;top navigation&quot;,&quot;learn more - teams&quot;,null,null,null]">For Teams</a>
            </li>
        </ol>


        <form id="search" role="search" action=/search class="grid--cell fl-grow1 searchbar px12 js-searchbar "
              autocomplete="off">
            <div class="ps-relative">
                <input name="q"
                       type="text"
                       placeholder="Search&#x2026;"
                       value=""
                       autocomplete="off"
                       maxlength="240"
                       class="s-input s-input__search js-search-field "
                       aria-label="Search"
                       aria-controls="top-search"
                       data-controller="s-popover"
                       data-action="focus->s-popover#show"
                       data-s-popover-placement="bottom-start"/>
                <svg aria-hidden="true" class="s-input-icon s-input-icon__search svg-icon iconSearch" width="18"
                     height="18" viewBox="0 0 18 18">
                    <path d="m18 16.5-5.14-5.18h-.35a7 7 0 10-1.19 1.19v.35L16.5 18l1.5-1.5zM12 7A5 5 0 112 7a5 5 0 0110 0z"/>
                </svg>
                <div class="s-popover p0 wmx100 wmn4 sm:wmn-initial js-top-search-popover" id="top-search" role="menu">
                    <div class="s-popover--arrow"></div>
                    <div class="js-spinner p24 grid ai-center jc-center d-none">
                        <div class="s-spinner s-spinner__sm fc-orange-400">
                            <div class="v-visible-sr">Loading&#x2026;</div>
                        </div>
                    </div>

                    <span class="v-visible-sr js-screen-reader-info"></span>
                    <div class="js-ac-results overflow-y-auto hmx3 d-none"></div>

                    <div class="js-search-hints" aria-describedby="Tips for searching"></div>
                </div>
            </div>
        </form>


        <ol class="overflow-x-auto ml-auto -secondary grid ai-center list-reset h100 user-logged-out"
            role="presentation">
            <li class="-item searchbar-trigger"><a href="#" class="-link js-searchbar-trigger" role="button"
                                                   aria-label="Search" aria-haspopup="true" aria-controls="search"
                                                   title="Click to show search">
                <svg aria-hidden="true" class="svg-icon iconSearch" width="18" height="18" viewBox="0 0 18 18">
                    <path d="m18 16.5-5.14-5.18h-.35a7 7 0 10-1.19 1.19v.35L16.5 18l1.5-1.5zM12 7A5 5 0 112 7a5 5 0 0110 0z"/>
                </svg>
            </a></li>

            <li class="-ctas">
                <a href="{% url 'login' %}"
                   class="login-link s-btn s-btn__filled py8 js-gps-track" rel="nofollow"
                   data-gps-track="login.click"
                   data-ga="[&quot;top navigation&quot;,&quot;login button click&quot;,null,null,null]">Log in</a>
                <a href="{% url 'register' %}"
                   class="login-link s-btn s-btn__primary py8" rel="nofollow"
                   data-ga="[&quot;sign up&quot;,&quot;Sign Up Navigation&quot;,&quot;Header&quot;,null,null]">Sign
                    up</a>

            </li>

        </ol>

    </div>
</header>