<!DOCTYPE html>


<html class="html__responsive  html__fixed-top-bar">

<head>

    <title>Tags - Stack Overflow</title>
    <link rel="shortcut icon" href="https://cdn.sstatic.net/Sites/stackoverflow/Img/favicon.ico?v=ec617d715196">
    <link rel="apple-touch-icon"
          href="https://cdn.sstatic.net/Sites/stackoverflow/Img/apple-touch-icon.png?v=c78bd457575a">
    <link rel="image_src" href="https://cdn.sstatic.net/Sites/stackoverflow/Img/apple-touch-icon.png?v=c78bd457575a">
    <link rel="search" type="application/opensearchdescription+xml" title="Stack Overflow" href="/opensearch.xml">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://stackoverflow.com/tags"/>
    <meta property="og:site_name" content="Stack Overflow"/>
    <meta property="og:image" itemprop="image primaryImageOfPage"
          content="https://cdn.sstatic.net/Sites/stackoverflow/Img/apple-touch-icon@2.png?v=73d79a89bded"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:domain" content="stackoverflow.com"/>
    <meta name="twitter:title" property="og:title" itemprop="name" content="Tags"/>
    <meta name="twitter:description" property="og:description" itemprop="description"
          content="Stack Overflow | The World&#x2019;s Largest Online Community for Developers"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.sstatic.net/Js/stub.en.js?v=b6b81fff6fef"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Shared/stacks.css?v=18ec1a31c3b1">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.sstatic.net/Sites/stackoverflow/primary.css?v=8e3102318e07">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.sstatic.net/Sites/stackoverflow/secondary.css?v=f4ceed477aac">


    <meta name="robots" content="noindex">


    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Shared/Channels/channels.css?v=89163e79f6d2">


    <script>
        StackExchange.init({
            "locale": "en",
            "serverTime": 1623226498,
            "routeName": "Tags/List",
            "stackAuthUrl": "https://stackauth.com",
            "networkMetaHostname": "meta.stackexchange.com",
            "site": {
                "name": "Stack Overflow",
                "description": "Q&A for professional and enthusiast programmers",
                "isNoticesTabEnabled": true,
                "enableNewTagCreationWarning": true,
                "insertSpaceAfterNameTabCompletion": false,
                "id": 1,
                "cookieDomain": ".stackoverflow.com",
                "childUrl": "https://meta.stackoverflow.com",
                "styleCodeWithHighlightjs": true,
                "negativeVoteScoreFloor": null,
                "enableSocialMediaInSharePopup": true,
                "protocol": "https"
            },
            "user": {
                "fkey": "4ec2375abe6ec482a3e4ade22223eee0b2dda527781789fcfaddb0f6ae5399da",
                "tid": "d53e8e44-9273-02b6-228e-058625df7dba",
                "rep": 0,
                "isAnonymous": true,
                "isAnonymousNetworkWide": true
            },
            "events": {"postType": {"question": 1}, "postEditionSection": {"title": 1, "body": 2, "tags": 3}},
            "story": {"minCompleteBodyLength": 75, "likedTagsMaxLength": 300, "dislikedTagsMaxLength": 300},
            "jobPreferences": {"maxNumDeveloperRoles": 2, "maxNumIndustries": 4},
            "svgIconPath": "https://cdn.sstatic.net/Img/stacks-icons",
            "svgIconHash": "3366547373af"
        }, {
            "userProfile": {"openGraphAPIKey": "4a307e43-b625-49bb-af15-ffadf2bda017"},
            "userMessaging": {"showNewFeatureNotice": true},
            "tags": {},
            "subscriptions": {
                "defaultBasicMaxTrueUpSeats": 250,
                "defaultFreemiumMaxTrueUpSeats": 50,
                "defaultMaxTrueUpSeats": 1000
            },
            "snippets": {"renderDomain": "stacksnippets.net", "snippetsEnabled": true},
            "site": {
                "allowImageUploads": true,
                "enableImgurHttps": true,
                "enableUserHovercards": true,
                "forceHttpsImages": true,
                "styleCode": true
            },
            "questions": {
                "enableQuestionTitleLengthLiveWarning": true,
                "maxTitleSize": 150,
                "questionTitleLengthStartLiveWarningChars": 50
            },
            "intercom": {"appId": "inf0secd", "hostBaseUrl": "https://stacksnippets.net"},
            "paths": {},
            "monitoring": {"clientTimingsAbsoluteTimeout": 30000, "clientTimingsDebounceTimeout": 1000},
            "mentions": {"maxNumUsersInDropdown": 50},
            "markdown": {"enableTables": true},
            "legal": {"oneTrustConfigId": "c3d9f1e3-55f3-4eba-b268-46cee4c6789c"},
            "flags": {"allowRetractingCommentFlags": true, "allowRetractingFlags": true},
            "elections": {"opaVoteResultsBaseUrl": "https://www.opavote.com/results/"},
            "comments": {},
            "accounts": {"currentPasswordRequiredForChangingStackIdPassword": true}
        });
        StackExchange.using.setCacheBreakers({
            "js/adops.en.js": "22a9bd59b1e9",
            "js/ask.en.js": "469e6156d3bf",
            "js/begin-edit-event.en.js": "b6f47dd7a88c",
            "js/copy-transpiled.en.js": "53672acce46d",
            "js/cm.en.js": "490f304371e5",
            "js/events.en.js": "911c3f5e9f4d",
            "js/explore-qlist.en.js": "a6f836ff8aa6",
            "js/full-anon.en.js": "def82872b4a7",
            "js/full.en.js": "3d9e6a3e275b",
            "js/help.en.js": "2c6f9524a8ea",
            "js/highlightjs-loader.en.js": "620aed314835",
            "js/inline-tag-editing.en.js": "e5a2bcfcd89d",
            "js/keyboard-shortcuts.en.js": "065d00c0709b",
            "js/markdown-it-loader.en.js": "2e311abea8d2",
            "js/modElections.en.js": "7b9cd81fffcf",
            "js/mobile.en.js": "ed3df618ee8f",
            "js/moderator.en.js": "b4d8fa162399",
            "js/postCollections-transpiled.en.js": "844f16f7e0e9",
            "js/post-validation.en.js": "261eaf2537b3",
            "js/prettify-full.en.js": "6f5a86d2d8da",
            "js/question-editor.en.js": "",
            "js/review.en.js": "2aa278d53a5c",
            "js/review-v2-transpiled.en.js": "5a82478368a8",
            "js/revisions.en.js": "d1bd84a6d22d",
            "js/stacks-editor.en.js": "3d8c09d66412",
            "js/tageditor.en.js": "f9c50de68213",
            "js/tageditornew.en.js": "8f067b22d8ab",
            "js/tagsuggestions.en.js": "a9ff449efcdc",
            "js/unlimited-transpiled.en.js": "00fd937afdbd",
            "js/wmd.en.js": "5134c267a712",
            "js/snippet-javascript-codemirror.en.js": "e640df7f27cf"
        });
        StackExchange.using("gps", function () {
            StackExchange.gps.init(true);
        });
    </script>
    <noscript id="noscript-css">
        <style>body, .top-bar {
            margin-top: 1.9em
        }</style>
    </noscript>
</head>
<body class="tags-page unified-theme">
<div id="notify-container"></div>
<div id="custom-header"></div>
{% include 'main_base/header.html' %}

<script>
    StackExchange.ready(function () {
        StackExchange.topbar.init();
    });
    StackExchange.scrollPadding.setPaddingTop(50, 10);
</script>


<div class="container">

    {% include 'question/left_sidebar.html' %}

    <div id="content" class="snippet-hidden">

        <div id="mainbar-full">
            <h1 class="fs-headline1 mb16">
                Tags
            </h1>

            <p class="fs-body2 wmx6 mb16">
                A tag is a keyword or label that categorizes your question with other, similar questions. Using the
                right tags makes it easier for others to find and answer your question.
            </p>

            <div class="grid fw-wrap gs4 mb24 ai-center">

                <a class="grid--cell s-link fs-body1" href="/tags/synonyms">Show all tag synonyms</a>
            </div>

            <div class="grid fw-wrap">
                <div class="grid--cell ps-relative mb12">
                    <input id="live-search" class="s-input s-input__search h100" autocomplete="off" name="live-search"
                           type="text" maxlength="35" placeholder="Filter by tag name" autofocus>
                    <svg aria-hidden="true" class="s-input-icon s-input-icon__search svg-icon iconSearch" width="18"
                         height="18" viewBox="0 0 18 18">
                        <path d="m18 16.5-5.14-5.18h-.35a7 7 0 10-1.19 1.19v.35L16.5 18l1.5-1.5zM12 7A5 5 0 112 7a5 5 0 0110 0z"/>
                    </svg>
                </div>

                <div class="grid--cell ml-auto mb12 grid s-btn-group js-filter-btn">
                    <a class="filter-action  grid--cell s-btn s-btn__muted s-btn__outlined"
                       id="popular"
                       href="/tags?tab=popular" data-nav-xhref="" title="most popular tags" data-value="popular"
                       data-shortcut="">
                        Popular</a>
                    <a class="filter-action grid--cell s-btn s-btn__muted s-btn__outlined" href="/tags?tab=name"
                       data-nav-xhref=""
                       title="tags in alphabetical order" data-value="name" data-shortcut=""
                       id="name">
                        Name</a>
                    <a class="filter-action grid--cell s-btn s-btn__muted s-btn__outlined" href="/tags?tab=new"
                       data-nav-xhref=""
                       title="recently created tags" data-value="new" data-shortcut=""
                       id="new">
                        New</a>
                </div>

            </div>

            {% block taglist %}

            {% endblock %}

            <script>
                StackExchange.ready(function () {
                    $("#tagfilter").typeWatch({highlight: true, wait: 500, captureLength: -1, callback: finished});
                });

                var request = null;

                function finished(txt) {
                    if (request) {
                        request.abort();
                    }
                    request = $.ajax({
                        type: "POST",
                        url: "/filter/tags-for-index",
                        data: {filter: txt, tab: 'Popular', fkey: StackExchange.options.user.fkey},
                        dataType: "html",
                        success: function (result) {
                            var domelement = $(result);
                            $("#tags_list > *").remove();
                            $("#tags_list").prepend(domelement);

                            if (txt == "") {
                                $(".pager").show();
                            } else {
                                $(".pager").hide();
                            }

                        }
                    });
                }
            </script>
        </div>
    </div>
</div>

{% include 'tags/footer.html' %}

<script>StackExchange.ready(function () {
    StackExchange.responsiveness.addSwitcher();
})</script>
<noscript>
    <div id="noscript-warning">Stack Overflow works best with JavaScript enabled
        <img src="https://pixel.quantserve.com/pixel/p-c1rF4kxgLUzNc.gif" alt="" class="dno">
    </div>
</noscript>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    StackExchange.ready(function () {

        StackExchange.ga.init({
            autoLink: ["stackoverflow.blog", "info.stackoverflowsolutions.com", "stackoverflowsolutions.com"],
            sendTitles: true,
            tracker: window.ga,
            trackingCodes: [
                'UA-108242619-1'
            ],
            checkDimension: 'dimension42'
        });


        StackExchange.ga.setDimension('dimension3', 'Tags/List');


        StackExchange.ga.trackPageView();
    });

    var _qevents = _qevents || [],
        _comscore = _comscore || [];
    (function () {
        var s = document.getElementsByTagName('script')[0],
            qc = document.createElement('script');
        qc.async = true;
        qc.src = 'https://secure.quantserve.com/quant.js';
        s.parentNode.insertBefore(qc, s);
        _qevents.push({qacct: "p-c1rF4kxgLUzNc"});
        var sc = document.createElement('script');
        sc.async = true;
        sc.src = 'https://sb.scorecardresearch.com/beacon.js';
        s.parentNode.insertBefore(sc, s);
        _comscore.push({c1: "2", c2: "17440561"});
    })();
</script>
{#Included file#}
{% include 'tags/live_search.html' %}
{% include 'tags/tag_filter.html' %}

{#{% include  %}#}


<div id="onetrust-consent-sdk" class="d-none"></div>
<div id="onetrust-banner-sdk" data-controller="s-modal"></div>
<div id="ot-pc-content" class="d-none"></div>
<div id="onetrust-style" class="d-none">&nbsp;</div>
<div class="d-none js-consent-banner-version" data-consent-banner-version="baseline"></div>


</body>
</html>
